/*CAMERA CONTROL ON/OFF SWITCH*/
.onoffswitch-camera {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-camera-checkbox {
    display: none;
}
.onoffswitch-camera-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-camera-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-camera-inner:before, .onoffswitch-camera-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-camera-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #EEEEEE; color: #20B2AA;
}
.onoffswitch-camera-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #CD5C5C;
    text-align: right;
}
.onoffswitch-camera-switch {
    display: block; width: 18px; margin: 6px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-camera-checkbox:checked + .onoffswitch-camera-label .onoffswitch-camera-inner {
    margin-left: 0;
}
.onoffswitch-camera-checkbox:checked + .onoffswitch-camera-label .onoffswitch-camera-switch {
    right: 0px;
    background-color: #27A1CA;
}

/*COLORSCALE ON/OFF SWITCH*/
.onoffswitch-color {
    position: relative; width: 115px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-color-checkbox {
    display: none;
}
.onoffswitch-color-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-color-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-color-inner:before, .onoffswitch-color-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-color-inner:before {
    content: "RAINBOW";
    padding-left: 10px;
    background-color: #EEEEEE; color: #20B2AA;
}
.onoffswitch-color-inner:after {
    content: "GREY";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-color-switch {
    display: block; width: 18px; margin: 6px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 81px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-color-checkbox:checked + .onoffswitch-color-label .onoffswitch-color-inner {
    margin-left: 0;
}
.onoffswitch-color-checkbox:checked + .onoffswitch-color-label .onoffswitch-color-switch {
    right: 0px;
    background-color: #27A1CA;
}

/*Min/Max Dihedral Angle & Average Mean Inverse Ratio*/
input[type=radio]{
  position: relative;
  visibility: hidden;
}
label{
  display: block;
  position: relative;
  font-family: Trebuchet, Arial, sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  z-index: 9;
}
label:hover{
  color: #20B2AA;
}
.check{
  /*position: relative;
  border: 5px solid #AAAAAA;
  display: inline-block;
 	z-index: 5;
 	transition: border .25s linear;
 	-webkit-transition: border .25s linear;*/
  display: inline-block;
  position: relative;
  float: left;
  padding: 5px;
  line-height: 10px;
  box-sizing:border-box;
  cursor: pointer;
  border: 2px solid #999999;
  background-color: #EEEEEE;
  color: #999999;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.check:hover{
  border-color: #20B2AA;
}
