@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400');

body, html, div, img, label, p, b,
h1, h2, h3, h4, h5, h6, ul, li,
dl, dt, dd, form, a, input, object, textarea{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #262626;
    cursor: default;
    background-color: #FFFFFF
}

html{
    height: 100%;
    width: 100%;

    line-height: normal;
    position: relative;
}

body{
    overflow:hidden;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

canvas{
    width: 76%;
}

.menu{
    min-width: 260px;
    min-height: 480px;
    width:24%;
    border-right: 1px solid #CCCCCC;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.menu-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}

.group-row{
    display: flex;
    padding: 0px 0px 10px 0px;
    flex-direction: column;
    align-items: flex-start;
}
.group-row > label{
    margin-bottom: 5px;
}

.group-row .menu-row{
    justify-content: flex-start;
    padding: 0px 0px 0px 0px;
}

.menu-row.contains-radio{
    padding-left: 5px;
}
.zone-information-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px;
    overflow-y: scroll;
}

.zone-information{
    font-size: 12px;
    flex-direction: column;
    word-wrap: break-word;
}
.zone-information>label{
    font-weight: 400;
}
.scale-num{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.nav-icon{
    border: 1px solid #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #999999;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-size: 24px;
    margin-left: 5px;
    cursor: pointer;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#help.active{
    color: #20B2AA;
}
/*.nav-icon:hover{
    border-color: #262626;
    color: #262626;
}*/

#use_default{
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 70% 70%;
    -moz-background-size: 70% 70%;
    -o-background-size: 70% 70%;
    background-size: 70% 70%;
    background-image: url(geometry.png);

}

#use_default.inactive{
    background-image: url(geometry.png);
}

#use_default.active{
    background-image: url(geometry-active.png);
}

.info-panel{
    position: absolute;
    height: 97%;
    width: 400px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin: 10px 0px 0px 5px;
    display: none;
    white-space: pre;
    overflow-y: scroll;
    padding:5px;
    font-size: 12px;
}
